<div class='row' id='phase-1'>
    <div class='col-md-12'>
        <h2>Your content piece</h2>
    </div>
</div>

<div class='row'>
    <div class="form-group col-md-8">
        <label for="input-content-title">Title</label>
        <input type="text" class="form-control" ng-model='newPiece.name' id="input-content-name" placeholder="Content name" />
    </div>
    <div class="form-group col-md-2">
        <label for="input-content-billableHours">Publish date (YYYY-MM-DD)</label>
        <input type="text" class="form-control" ng-model='newPiece.date' id="input-content-date" placeholder="YYYY-MM-DD" />
    </div>
    <div class="form-group col-md-2">
        <label for="input-content-billableHours">Billable hours</label>
        <input type="number" class="form-control" ng-model='newPiece.billableHours' id="input-content-billableHours" placeholder="0 Hours" />
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>
        <div class="form-group">
            <label for="input-content-url">Canonical URL</label>
            <input type="url" class="form-control" ng-model='newPiece.url' id="input-content-url" placeholder="Content URL" />
        </div>
    </div>
    <div class='col-md-6'>
        <input type='text' class='form-control' ng-model='buzzstream.key' placeholder='Buzzstream Consumer Key' />
        <input type='text' class='form-control' ng-model='buzzstream.secret' placeholder='Buzzstream Consumer Secret' />
        <button ng-click='fetchBuzzstream()' type='button' class='btn col-md-12' ng-class='{"btn-success": buzzstream.done}'>
            {{buzzstream.done ? 'Finished fetching Buzzstream links' : buzzstream.doing ? 'Fetching Buzzstream links' : 'Fetch Buzzstream links'}}
        </button>
    </div>
    <div class='col-md-12'>
        <div class="form-group">
            <label for="input-content-links">Known external links</label>
            <textarea class="form-control" rows="10" ng-model='newPiece.inputLinks' id="input-content-links" placeholder='List of known URLs, one per line'></textarea>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-3'>
        <button ng-click='googleAnalytics()' type='button' class='btn col-sm-12'>Google Analytics</button>
    </div>
    <div class='col-sm-9'>
        <div class='form-group col-sm-4' ng-show='google.accounts'>
            <label for="ga-1">Analytics Account</label>
            <select id='ga-1' class='form-control' ng-options="item.id as item.name for item in google.accounts"
                ng-model="google.account" ng-change="analytics.getWebProperties()"></select>
        </div>

        <div class='form-group col-sm-4' ng-show='google.webproperties'>
            <label for="ga-2">Web Property</label>
            <select id='ga-2' class='form-control' ng-options="item.id as item.name for item in google.webproperties"
                ng-model="google.webproperty" ng-change="analytics.getViews()"></select>
        </div>

        <div class='form-group col-sm-4' ng-show='google.views'>
            <label for="ga-3">View/Profile</label>
            <select id='ga-3' class='form-control' ng-options="item.id as item.name for item in google.views"
                ng-model="google.view" ng-change="analytics.getReferralData()"></select>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h3>Algorithm variables</h3>
        ...
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <button ng-click='analyse()' id='btn-hunt-links' type="button" class="btn btn-primary btn-lg btn-block">Analyse this content</button>
    </div>
</div>

{{google}}