<div>

    <section>
        <h3>Link summary</h3>
        <div class='row'>
            <div class='col-md-3'>
                <h1><span class='fa fa-link'></span> {{ContentPiece.stats.linkValue()|currency:"£"}}</h1>
                <span>Equitable link value</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-star'></span> {{ContentPiece.stats.averageDA()|number:1}}</h1>
                <span>Avg. DA</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-link'></span> {{ContentPiece.stats.equitableLinkCount()}}</h1>
                <span># Equitable links</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-thumbs-o-up'></span> {{ContentPiece.stats.linkCount().relevant}}</h1>
                <span># Relevant links</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-thumbs-o-down'></span> {{ContentPiece.stats.linkCount().nonrelevant}}</h1>
                <span># Nonrelevant links</span>
            </div>
        </div>
    </section>

    <hr>

    <section class='link-graph'>
        <h3>All links</h3>
        <table class='link-graph'>
            <thead>
                <tr>
                    <th>Known?</th>
                    <th>Nofollow?</th>
                    <th>Subject-relevant?</th>
                    <th>Unique,equitable?</th>
                    <th>URL</th>
                    <th>Domain Auth</th>
                </tr>
            </thead>
            <tbody>
                <tr class='link-graph__row' ng-repeat='link in ContentPiece.data.links' ng-class='{dupe: !link.included, nofollow: !link.equitable, irrelevant: !link.relevant}'>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.known' type='checkbox' disabled />
                    </td>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.equitable' type='checkbox' disabled />
                    </td>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.relevant' type='checkbox' />
                    </td>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.included' type='checkbox' />
                    </td>
                    <td class='link-graph__url'>
                        <div class='tr'>
                            <a href='{{link.url}}' target='_blank' class='label link-graph__authority'>{{link.domain}}</a>
                            <a class='link-graph__source' href='{{link.url}}' target='_blank'>{{link.parseUri().relative}}</a>
                        </div>
                    </td>
                    <td class='link-graph__da-bar'>
                        <div style='
                            width:{{link.domainAuthority}}%;
                            border-color: hsl(
                                {{link.domainAuthority|normalise:0:100:45:0}},
                                100%,
                                50%
                            );
                            color: hsl(
                                {{link.domainAuthority|normalise:0:100:45:0}},
                                80%,
                                40%
                            )'>
                            DA: {{link.domainAuthority|number:1}}
                            &nbsp;
                            {{link.value()|currency:"£"}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>