<div>
    <section class='row'>
        <h3 class='col-md-12'>Social summary</h3>
        <div class='col-md-3'>
            <h1>{{ContentPiece.stats.socialCount()}}</h1>
            <span>Primary shares</span>
        </div>
        <div class='col-md-3'>
            <h1>{{ContentPiece.stats.socialCount(ContentPiece.stats.secondarySocialCombined)}}</h1>
            <span>Secondary shares</span>
        </div>
        <div class='col-md-3'>
            <h1>{{ContentPiece.stats.socialValue()|currency:"£"}}</h1>
            <span>Value of primary shares</span>
        </div>
        <div class='col-md-3'>
            <h1>{{ContentPiece.stats.socialValue("*",ContentPiece.stats.secondarySocialCombined)|currency:"£"}}</h1>
            <span>(Experimental) value of secondary shares</span>
        </div>
    </section>
        {{ContentPiece.stats.secondarySocialCombined}}

    <hr>

    <section class='row'>
        <h3 class='col-md-12'>Sharing breakdown</h3>
        <div class='col-md-3' ng-repeat='(mediumID,medium) in ContentPiece.data.shares' ng-if='medium.importance <= 1'>
            <h1><span class='{{medium.icon}}'></span> {{medium.count}}</h1>
            <h2>{{ContentPiece.stats.socialValue(mediumID)|currency:"£"}}</h2>
            <span>{{medium.name}}</span>
        </div>
    </section>

    <hr>

    <section class='row'>
        <h4 class='col-md-12'>Other social media</h4>
        <div class='col-md-2' ng-repeat='(mediumID,medium) in ContentPiece.data.shares' ng-if='medium.importance > 1'>
            <span class='{{medium.icon}}'></span><br>
            <strong>{{medium.name}}</strong><br>
            # {{medium.count}}<br>
            {{ContentPiece.stats.socialValue(mediumID)|currency:"£"}}
        </div>
    </section>
</div>