<div class='row' id='phase-2'>
    <div class='col-md-12'>
        <a ui-sref='app.input'>&larr; Analyse new content</a>
        <h2>Analysis</h2>
    </div>
    <article class='col-md-12' id='results'>


    <!-- /////////////////////
         //// SUMMARY
         ///////////////// -->


        <header class='data-intro'>
            <iframe class='data-intro__background' ng-src='{{ContentPiece.safeURL}}' seamless="seamless" scrolling="no"></iframe>
            <div class='data-intro__text'>
                <h2 class='data-intro__subtitle' >Content marketing stats for</h2>
                <h1 class='data-intro__name' >{{ContentPiece.data.name}}</h1>
                <a  class='data-intro__link' href='{{ContentPiece.safeURL}}'>{{ContentPiece.safeURL}}</a>
            </div>
        </header>
        <section class='data-section results__section--summary'>
            <div class='row'>
                <header class='col-sm-6'>
                    <h2 class='data-section__title'>Social stats</h2>
                </header>
            </div>

            <div class='row'>
                <!-- Spread stats -->
                <div class='dv col-xs-6'>
                    <div class='dv__val'>{{ContentPiece.data.equitableLinkCount}}</div>
                    <div class='dv__label'>Equitable links</div>
                </div>
                <div class='dv col-xs-6'>
                    <div class='dv__val'>{{ContentPiece.stats.socialCount()}}</div>
                    <div class='dv__label'>Total shares</div>
                </div>
            </div>

            <div class='row'>
                <!-- Cost breakdown -->
                <div class='col-xs-12'>
                    <div class='dv h'>
                        <div class='dv__val' ng-bind-html='ContentPiece.stats.value()|currency:"£"|sup'></div>
                        <div class='dv__label'>Calculated value</div>
                    </div>
                    <div class='dv h'>
                        <div class='dv__val'>-</div>
                    </div>
                    <div class='dv h'>
                        <div class='dv__val' ng-bind-html='ContentPiece.stats.cost()|currency:"£"|sup'></div>
                        <div class='dv__label'>Cost</div>
                    </div>
                    <div class='dv h'>
                        <div class='dv__val'>=</div>
                    </div>
                    <div class='dv h'>
                        <div class='dv__val' style='color: hsl(
                            {{ContentPiece.stats.profitloss()|normalise:-1000:1000:0:135}},
                            100%,
                            40%
                        )' ng-bind-html='ContentPiece.stats.profitloss()|currency:"£"|sup'></div>
                        <div class='dv__label'>Profit/loss</div>
                    </div>
                </div>
            </div>
        </section>


    <!-- /////////////////////
         //// SOCIAL STATS
         ///////////////// -->


        <section class='data-section results__section--social'>
            <div class='row'>
                <header class='col-sm-6'>
                    <h2 class='data-section__title'>Social stats</h2>
                </header>
            </div>

            <div class='row'>
                <div class='col-md-3 dv'>
                    <div class='dv__val'>{{ContentPiece.stats.socialCount()}}</div>
                    <div class='dv__label'>Primary shares</div>
                </div>
                <div class='col-md-3 dv'>
                    <div class='dv__val'>{{ContentPiece.stats.socialCount(ContentPiece.stats.secondarySocialCombined)}}</div>
                    <div class='dv__label'>Secondary shares</div>
                </div>
                <div class='col-md-3 dv'>
                    <div class='dv__val' ng-bind-html='ContentPiece.stats.socialValue()|currency:"£"|sup'></div>
                    <div class='dv__label'>Value of primary shares</div>
                </div>
                <div class='col-md-3 dv'>
                    <div class='dv__val' ng-bind-html='ContentPiece.stats.socialValue("*",ContentPiece.stats.secondarySocialCombined)|currency:"£"|sup'></div>
                    <div class='dv__label'>(Experimental) value of secondary shares</div>
                </div>
            </div>

            <div class='row'>
                <h3 class='col-md-12'>Primary sharing breakdown</h3>
                <div class='col-md-3 dv' ng-repeat='(mediumID,medium) in ContentPiece.data.shares' ng-if='medium.importance <= 1'>
                    <div class='dv__val'><span class='{{medium.icon}}'></span>{{medium.count}}</div>
                    <div class='dv__val' ng-bind-html='ContentPiece.stats.socialValue(mediumID)|currency:"£"|sup'></div>
                    <div class='dv__label'>{{medium.name}}</div>
                </div>
            </div>

            <div class='row'>
                <h4 class='col-md-12'>Other primary social media</h4>
                <div class='col-md-2' ng-repeat='(mediumID,medium) in ContentPiece.data.shares' ng-if='medium.importance > 1'>
                    <div class='{{medium.icon}}'></div><br>
                    <strong>{{medium.name}}</strong><br>
                    # {{medium.count}}<br>
                    <div ng-bind-html='ContentPiece.stats.socialValue(mediumID)|currency:"£"|sup'></div>
                </div>
            </div>

        </section>


    <!-- /////////////////////
         //// LINK STATS
         ///////////////// -->


        <section class='data-section results__section--links'>
            <div class='row'>
                <header class='col-sm-6'>
                    <h2 class='data-section__title'>Link stats</h2>
                    <p>By factoring out no-follow links and discounting less relevant links, and taking in to account the link’s Domain Authority, we can estimate the value of links back to the content.</p>
                </header>

                <div class='col-sm-6'>
                    <h4 class='col-xs-12'>Referral Traffic Data integration</h4>
                    <div class='form-group col-xs-12'>
                        <button ng-click='googleAnalytics()' type='button' class='btn col-sm-12'>Sync data from Google Analytics</button>
                    </div>
                    <div class='form-group col-sm-12' ng-show='GoogleAPI.accounts'>
                        <select id='ga-1' class='form-control' ng-options="item.id as item.name for item in GoogleAPI.accounts | orderBy:'name' " ng-model="GoogleAPI.account" ng-change="analytics.getWebProperties()">
                            <option value="">Select an Analytics Account</option>
                        </select>
                    </div>
                    <div class='form-group col-sm-12' ng-show='GoogleAPI.webproperties'>
                        <select id='ga-2' class='form-control' ng-options="item.id as item.name for item in GoogleAPI.webproperties | orderBy:'name' " ng-model="GoogleAPI.webproperty" ng-change="analytics.getViews()">
                            <option value="">Select a Web Property</option>
                        </select>
                    </div>
                    <div class='form-group col-sm-12' ng-show='GoogleAPI.views'>
                        <select id='ga-3' class='form-control' ng-options="item.id as item.name for item in GoogleAPI.views | orderBy:'name' " ng-model="GoogleAPI.view" ng-change="analytics.getReferralData()">
                            <option value="">Select a Profile</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Link list -->
            <label class='input-group' for='hideDupes'>
                <input type='checkbox' ng-model='hideDuplicates' id='hideDupes' />
                Hide duplicates
            </label>
            <table class='link-graph' ng-class='{hideDupes: hideDuplicates}'>
                <thead>
                    <tr>
                        <th class='angled'>Equitable</th>
                        <th class='angled'>Relevant</th>
                        <th class='angled'>Unique</th>
                        <th class='angled'>D.A.</th>
                        <th>Link URL</th>
                        <th>Value</th>
                        <th>Referral visits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='link-graph__row' ng-repeat='link in ContentPiece.data.links | orderBy : "domainAuthority" : true' ng-class='{
                        dupe: !link.domainRepresentative,
                        nofollow: !link.equitable,
                        irrelevant: !link.relevant,
                        known: link.known,
                        new: !link.known
                    }'>
                        <td class='link-graph__relevance'>
                            <input ng-model='link.equitable' type='checkbox' />
                        </td>
                        <td class='link-graph__relevance'>
                            <input ng-model='link.relevant' type='checkbox' />
                        </td>
                        <td class='link-graph__relevance'>
                            <input ng-model='link.domainRepresentative' type='checkbox' />
                        </td>
                        <td>
                            <div style='color: hsl({{link.domainAuthority|normalise:0:100:45:0}},80%,40%)'>
                                {{link.domainAuthority|number:1}}
                            </div>
                        </td>
                        <td class='link-graph__url'>
                            <div class='link-graph__da-bar' style='width:{{link.domainAuthority}}%;
                                border-color: hsla({{link.domainAuthority|normalise:0:100:45:0}},80%,40%,0.5)'>
                            </div>
                            <div class='tr'>
                                <a href='{{link.url}}' target='_blank' class='link-graph__authority'>{{link.domain}}</a>
                                <a class='link-graph__source' href='{{link.url}}' target='_blank'>{{link.parseUri().relative}}</a>
                            </div>
                        </td>
                        <td class='link-graph__value'>
                            <div ng-show='link.equitable && link.domainRepresentative' ng-bind-html='link.value()|currency:"£"|sup'></div>
                            <div ng-show='!link.equitable' class='disqualifier'>No-follow</div>
                            <div ng-show='!link.domainRepresentative' class='disqualifier'>Duplicate</div>
                        </td>
                        <td class='link-graph__views link-graph__value' ng-class='{hasReferrals: link.referrals.visits > 0}'>
                            <div class='link-graph__views-bar'
                                 style='height: {{logX(link.referrals.visits,6)*40}}px;
                                       width: {{logX(link.referrals.visits,6)*20}}px'>
                                {{link.referrals.visits}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class='row'>
                <div class='dv col-md-3'>
                    <div class='dv__val'>{{ContentPiece.stats.usefulLinkCount()}}</div>
                    <div class='dv__label'>Useful links</div>
                </div>
                <div class='dv col-md-3'>
                    <div class='dv__val'>{{ContentPiece.stats.averageDA()|number:1}}</div>
                    <div class='dv__label'>Avg. DA (useful links)</div>
                </div>
                <div class='dv col-md-3'>
                    <div class='dv__val' ng-bind-html='ContentPiece.stats.value() / ContentPiece.stats.usefulLinkCount() |currency:"£"|sup'></div>
                    <div class='dv__label'>Avg. link value (useful links)</div>
                </div>
                <div class='dv col-md-3 pull-right'>
                    <div class='dv__val' ng-bind-html='ContentPiece.stats.linkValue()|currency:"£"|sup'></div>
                    <div class='dv__label'>Total value (useful links)</div>
                </div>
            </div>

        </section>
    </article>
</div>