<div>

    <section>
        <h3>Link summary</h3>
        <div class='row'>
            <div class='col-md-3'>
                <h1><span class='fa fa-link'></span> {{ContentPiece.linkValue()|currency:"£"}}</h1>
                <span>Link value</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-link'></span> {{ContentPiece.data.equitableLinkCount}}</h1>
                <span># Equitable links</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-star'></span> {{ContentPiece.averageDA()|number:1}}</h1>
                <span>Avg. DA</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-thumbs-o-up'></span> {{ContentPiece.linkCount().relevant}}</h1>
                <span># Relevant links</span>
            </div>
            <div class='col-md-2'>
                <h1><span class='fa fa-thumbs-o-down'></span> {{ContentPiece.linkCount().nonrelevant}}</h1>
                <span># Nonrelevant links</span>
            </div>
        </div>
    </section>

    <hr>

    <section class='link-graph'>
        <h3>All links</h3>
        <table class='link-graph'>
            <thead>
                <tr>
                    <th>Known?</th>
                    <th>Equitable?</th>
                    <th>Relevant?</th>
                    <th>URL</th>
                    <th>Domain Auth</th>
                </tr>
            </thead>
            <tbody>
                <tr class='link-graph__row' ng-repeat='link in ContentPiece.data.links'>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.known' type='checkbox' disabled />
                    </td>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.equitable' type='checkbox' disabled />
                    </td>
                    <td class='link-graph__relevance'>
                        <input ng-model='link.relevant' type='checkbox' />
                    </td>
                    <td class='link-graph__url'>
                        <a href='http://{{link.url}}'>{{link.url}}</a>
                    </td>
                    <td class='link-graph__da-bar'>
                        <div style='
                            width:{{link.domainAuthority}}%;
                            border-color: hsl(
                                {{link.domainAuthority|normalise:0:100:45:0}},
                                100%,
                                50%
                            );
                            color: hsl(
                                {{link.domainAuthority|normalise:0:100:45:0}},
                                80%,
                                40%
                            )'>
                            DA: {{link.domainAuthority|number:1}}
                            &nbsp;
                            {{link.value()|currency:"£"}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>