.link-graph {

    width: 100%;

    &__relevance {
      text-align: center;
    }

    &__da-bar {
      width: 50%;
    }

    &__url * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 80%;
    }

    &__da-bar div {
      padding: 5px 0;
      border-top: 2px solid red;
      text-align: right;
      font-weight: bold;
      font-size: 80%;
    }
}